.vertical-scrolling{
  background:{
    color:#95899f;
    size:cover;
    position:center;
  }
  padding: 50px;
  color:white;
  a{
    &:link{
      text-decoration: underline;
    }
  }
  &.date{
    background:{
      image:url(../images/gallery/lazers.jpg);
    }
  }
  &.location{
    background:{
      image:url(../images/rustbelt.jpg);
    }
  }
  &.timeline{
    background:{
      image:url(../images/gallery/shredderCats.jpg);
      size:contain;
      position: center center;
    }
    ul{
      transform:translateY(-150%);
      @media screen and (max-width: 500px){
        transform:translateY(0);
      }
    }
  }
  &.photos{
    background:{
      color:#fefefe;
    }
    .horizontal-scrolling{
      background:{
        size:contain;
        position:center;
      }
    }
    .horizontal-scrolling-1{
      background:{
        image:url(../images/gallery/instagram.jpg);
        
      }
    }
    .horizontal-scrolling-2{
      background:{
        image:url(../images/gallery/boat.jpg);
      }
    }
    .horizontal-scrolling-3{
      background:{
        image:url(../images/gallery/arcade.jpg);
      }
    }
.horizontal-scrolling-4{
      background:{
        image:url(../images/gallery/coopBox.jpg);
      }
    }
.horizontal-scrolling-5{
      background:{
        image:url(../images/gallery/degrassi2.jpg);
      }
    }
.horizontal-scrolling-6{
      background:{
        image:url(../images/gallery/halloween2.jpg);
      }
    }
.horizontal-scrolling-7{
      background:{
        image:url(../images/gallery/babe.jpg);
      }
    }
.horizontal-scrolling-8{
      background:{
        image:url(../images/gallery/nye2.jpg);
      }
    }
.horizontal-scrolling-9{
      background:{
        image:url(../images/gallery/tinyhats.jpg);
      }
    }
    .horizontal-scrolling-10{
      background:{
        image:url(../images/gallery/whirly.jpg);
      }
    }

  }
  &.registry{
    background:{
      image:url(../images/gallery/masks.jpg);
    }
    p{
      background: rgba(0,0,0,0.4);
      padding: 20px;
    }
  }
  &.party{
    background:{
      image:url(../images/gallery/tinyhats.jpg);
      size:contain;
    }
    .shade{
      margin-bottom:10px;
    }
    li{
      text-align: left;
      position:relative;
      padding-left:28px;
      span{
        position:absolute;
        left:2px;
        top:3px;
      }
    }
    .fp-tableCell{
      display: flex;
      flex-direction:row;
      align-items:center;
      align-content:center;
      @media screen and (max-width: 500px){
        flex-direction:column;
      }
    }
  }
  &.contact{
    background:{
      image:url(../images/gallery/sushi.jpg);
    }
  }
}