.vertical-scrolling{
  background:{
    color:#95899f;
    size:cover;
    position:center;
  }
  padding: 50px;
  color:white;
  a{
    &:link{
      text-decoration: underline;
    }
  }
  &.date{
    background:{
      image:url(../images/gallery/lazers.jpg);
    }
  }
  &.location{
    background:{
      image:url(../images/rustbelt.jpg);
    }
  }
  &.timeline{
    background:{
      image:url(../images/gallery/shredderCats.jpg);
      size:contain;
      position: center top;
    }
    ul{
      transform:translateY(-150%);
    }
  }
  &.photos{
    background:{
      color:#fefefe;
    }
    .horizontal-scrolling{
      background:{
        size:cover;
        position:center;
      }
    }
    .horizontal-scrolling-1{
      background:{
        image:url(../images/gallery/babe.jpg);
      }
    }
    .horizontal-scrolling-2{
      background:{
        image:url(../images/gallery/boat.jpg);
        size:contain;
      }
    }

  }
  &.registry{
    background:{
      image:url(../images/gallery/masks.jpg);
    }
  }
  &.party{

    background:{
      image:url(../images/gallery/tinyhats.jpg);
    }
    .fp-tableCell{
      display: flex;
      flex-direction:row;
      align-items:center;
      align-content:center;
    }
  }
  &.contact{
    background:{
      image:url(../images/gallery/sushi.jpg);
    }
  }
}